
  <!--footer-->
<footer>
        <div class="footer-container">
            <ul>
                <li class="footer-title">Vini Mini</li>
                <li><a href="" class="footer-link">Producten</a></li>
                <li><a href="" class="footer-link">Stappenplan</a></li>
                <li><a href="" class="footer-link">Over ons</a></li>
                <li><a href="" class="footer-link">Nieuws</a></li>
                <li><a href="" class="footer-link">Doe de test</a></li>
            </ul>
            <ul>
                <li class="footer-title">Info & Help</li>
                <li><a href="" class="footer-link">Veelgestelde vragen</a></li>
                <li><a href="" class="footer-link">Algemene Voorwaarden</a></li>
                <li><a href="" class="footer-link">Privacy</a></li>
                <li><a href="" class="footer-link">Bestellen & retour</a></li>
            </ul>

            <ul>
                <li class="footer-title">Socials</li>
                <li><a href="" class="footer-link">Instagram</a></li>
                <li><a href="" class="footer-link">Facebook</a></li>
                <li><a href="" class="footer-link">Youtube</a></li>
            </ul>

        </div>
</footer>
<script src="/script.js" defer></script>

</body>

</html>