<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       
        <title>Chatroom Vini Mini</title>

    <!--   <link rel="stylesheet" href="/chat.css" />-->

    <link rel="stylesheet" href="/chat.css" />

    <!-- Link to Fontawesome icons -->

    <script src="https://kit.fontawesome.com/dbf182c521.js" crossorigin="anonymous"></script>

    </head>
    <body>
        <!-- Start navigation -->
        <nav class="main-nav">
            <!-- Logo Vini Mini -->
            <picture class="logo-container">
                <a href="#" class="link-to-home">
                    <img src="/img/logo.png" alt="Logo Vini Mini" class="logo-vini-mini" width="60" height="50" />
                </a>
            </picture>

            <!-- Items inside the nav -->
            <ul class="upper-nav-items">
                <li>
                    <i class="fa-solid fa-magnifying-glass" style="color: #142a45"></i>
                    <span class="icon-text">Zoeken</span>
                </li>
                <li>
                    <i class="fa-solid fa-arrow-left" style="color: #142a45"></i>
                    <span class="icon-text">Terug</span>
                </li>
            </ul>
        </nav>

        <nav class="sub-nav">
            <ul class="sub-nav-items">
                <li>
                    <i class="fa-solid fa-house" style="color: #142a45"></i>
                    <span class="icon-text">Home</span>
                </li>
                <li>
                    <i class="fa-solid fa-user-group" style="color: #142a45"></i>
                    <span class="icon-text">Vrienden</span>
                </li>
                <li>
                    <i class="fa-solid fa-message" style="color: #142a45"></i>
                    <span class="icon-text">Berichten</span>
                </li>
                <li>
                    <i class="fa-solid fa-bell" style="color: #142a45"></i>
                    <span class="icon-text">Meldingen</span>
                </li>
            </ul>
        </nav>
        <!-- End navigation -->

        <!-- Header start -->
        <header class="information">
            <h1 class="chat-title">Chat met ouders en deel je ervaringen!</h1>
            <h2 class="online">Aantal online: <span id="count">0</span> ouders online.</h2>

        </header>
        <!-- Header end -->

        <!-- Main start -->
        <main class="chatroom">
            <section class="chat">
                <ul class="message"></ul>
                <form class="message-field">
                    <label for="handle">Gebruikersnaam</label>
                    <input id="handle" type="text" name="handle" />
                    <input id="message" type="text" autocomplete="off" class="textfield" placeholder="Typ een bericht..." />
                    <button class="send"><i class="fa-regular fa-paper-plane" style="color: #ffffff"></i></button>
                </form>
            </section>
        </main>
         <!-- Link to the script -->
        <script src="/socket.io/socket.io.js" defer></script>
        <script src="/chat.js" defer></script>
    </body>
</html>
