<%- include('./partials/head.ejs') %>

<!--sidebar icons-->
<div class="sidebar">
    <a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
    <a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i>  Chat</a>
    <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>  Berichten</a>
    <a href="#"><i class="fa fa-bell-o" aria-hidden="true"></i>  Meldingen</a>
</div>
<!--titel-->
<h1>Deel je ervaring en chat met andere ouders.</h1>

<div class="container">
  <picture>
    <source
      type="image/webp"
      data-srcset="lazy_400.webp 400w, 
        lazy_800.webp 800w"
      data-sizes="100w"

    />
    <img
    src="/img/sara.webp"
      alt="Avatar"
      data-src="lazy.jpg"
      data-srcset="lazy_400.jpg 400w, 
        lazy_800.jpg 800w"
      data-sizes="100w"
      style="width:80px"
    />
  </picture>
  <p><span>Sara</span></p>
  <div class="post">
  <input
        type="text"
        placeholder= "Wat wilt u vertellen?"/>
  </div>
</div>


<div class="container">
  <picture>
    <source
      type="image/webp"
      data-srcset="lazy_400.webp 400w, 
        lazy_800.webp 800w"
      data-sizes="100w"

    />
    <img
    src="/img/avatar.webp"
      alt="Avatar"
      data-src="lazy.jpg"
      data-srcset="lazy_400.jpg 400w, 
        lazy_800.jpg 800w"
      data-sizes="100w"
      style="width:80px"
    />
  </picture>

  <p><span>Vini Mini</span>CEO</p>
  <p>Nieuw bij Vini Mini ouders kunnen nu met elkaar chatten en hun ervaring met elkaar delen</p>
  <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
  <a href="/chat.ejs"><i class="fa fa-commenting-o " aria-hidden="true"></i></a>
  <a href="#"><i class="fa-regular fa-share-from-square" aria-hidden="true"></i></a>
</div>


<div class="container">
  <picture>
    <source
      type="image/webp"
      data-srcset="lazy_400.webp 400w, 
        lazy_800.webp 800w"
      data-sizes="100w"

    />
    <img
    src="/img/moeder1.webp"
      alt="Avatar"
      data-src="lazy.jpg"
      data-srcset="lazy_400.jpg 400w, 
        lazy_800.jpg 800w"
      data-sizes="100w"
      style="width:80px"
    />
  </picture>
  <p><span>Laura</span></p>
  <p>We hebben Timo mijn eerste pinda in 3 stappen gegeven
     en het was een succes. Nu geven wij hem iedere week de
      Opvolgkit. Het product is makkelijk in gebruik en heeft 
      een duidelijke beschrijving over hoe en wanneer je het het
      beste kunt geven. Wij zijn heel blij met dit hulpmiddel om
      de kans op voedselallergie te verkleinen en raden het zeker 
      andere ouders aan.</p>
      <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
      <a href="/chat.ejs"><i class="fa fa-commenting-o " aria-hidden="true"></i></a>
      <a href="#"><i class="fa-regular fa-share-from-square" aria-hidden="true"></i></a>
    </div>
<div class="container">
  <picture>
    <source
      type="image/webp"
      data-srcset="lazy_400.webp 400w, 
        lazy_800.webp 800w"
      data-sizes="100w"

    />
    <img
    src="/img/moeder2.webp"
      alt="Avatar"
      data-src="lazy.jpg"
      data-srcset="lazy_400.jpg 400w, 
        lazy_800.jpg 800w"
      data-sizes="100w"
      style="width:80px"
    />
  </picture>
  <p><span>Alexandra</span></p>
  <p>Vini Mini ontdekt op de 9 maandenbeurs. 
    Toen was mijn dochter nog te klein ervoor..
    maar toen het zo ver was dat ik pinda/ei moest
    gaan aanbieden in stapjes.. dacht ik direct weer aan Vini Mini.
    Direct besteld en het is een top product!</p>
    <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
    <a href="/chat.ejs"><i class="fa fa-commenting-o " aria-hidden="true"></i></a>
    <a href="#"><i class="fa-regular fa-share-from-square" aria-hidden="true"></i></a>
  </div>
<div class="container">
  <picture>
    <source
      type="image/webp"
      data-srcset="lazy_400.webp 400w, 
        lazy_800.webp 800w"
      data-sizes="100w"

    />
    <img
    src="/img/moeder3.webp"
      alt="Avatar"
      data-src="lazy.jpg"
      data-srcset="lazy_400.jpg 400w, 
        lazy_800.jpg 800w"
      data-sizes="100w"
      style="width:80px"
    />
  </picture>
  <p><span>Rebecca</span></p>
  <p>Mooi bedrijf met een mooie missie. 
    De producten zijn handig in gebruik, 
    met meteen de juiste dosering, gebaseerd 
    op wetenschappelijk onderzoek. Zo voorkom je
     een pinda-allergie in plaats van het genezen ervan!</p>
     <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
     <a href="/chat.ejs"><i class="fa fa-commenting-o " aria-hidden="true"></i></a>
     <a href="#"><i class="fa-regular fa-share-from-square" aria-hidden="true"></i></a>
    </div>
<%- include('./partials/foot.ejs') %>