<%- include('./partials/head2.ejs') %>

<main class="main-index">

<div class="index-img-container">
    <img class="index-img" alt="Vini Mini" src="https://cdn.shopify.com/s/files/1/0530/6718/6365/files/MG_5012_960x640.jpg?v=1642663774" width="100%" height="100%" >
</div>

<article>
    <h1 class="index-h1">Wordt lid van de Vini Mini community!</h1></main>
    <p class="index-p">Hier maakt u contact met andere ouders en kunt u allergie onderwerpen bespreken.</p>
</article>

<!-- Naar de community knop -->
  <a href="community" class="index-community-button">NAAR DE COMMUNITY</a>








  <!--Nieuwsbrief-->
  <form action="/action_page.php">
    <div class="containerz">
      <h6>Nieuwsbrief</h6>
      <p class="nieuws">Blijf je op de hoogte van het laatste nieuws over de eerste 1000 dagen en voedselallergie?
  </p>
    </div>
  
    <div class="containerz">
      <input type="text" placeholder="Name" name="name" required>
      <input type="text" placeholder="Email address" name="mail" required>
      <label>
        <input type="checkbox" checked="checked" name="subscribe"> Onthoud Mij Gegevens
      </label>
    </div>
  
    <div class="containerz">
      <input type="submit" value="REGISTREER">
    </div>
  </form>

</main>
<%- include('./partials/foot.ejs') %>