@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
    /* CUSTOM PROPERTIES */
    /* Colours for specific allergies */
    --walnoot-kleur: #cd9540;
    --amandel-kleur: #f1c17e;
    --cashewnoot-kleur: #e68460;
    --ei-kleur: #f4eb34;
    --vis-kleur: #daeeee;
    --hazelnoot-kleur: #baddce;
    --pinda-kleur: #72afa6;
    --schelp-kleur: #f1c8ba;
    --soja-kleur: #eae3d2;

    /* Primaire kleuren */
    --donkerblauw: #152a45;
    --wit: #ffffff;
    --zwart: #121212;
    --grijs: #888682;
    --mini-nav-grijs: #eeeeee7d;
    --licht-grijs: #eaeaea;

    /* Font Family */
    --body-font: "Montserrat";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    font-family: var(--body-font);
    color: var(--donkerblauw);
}

/* NAVIGATION */
.logo-vini-mini {
    max-width: 100%;
    height: auto;
    margin-left: 1em;
    margin-top: 0.5em;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--wit);
}

.upper-nav-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-top: 1em;
}

.upper-nav-items li,
a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 0.5em 0 0;
    text-decoration: none;
}

a:visited {
    color: var(--donkerblauw);
}

.upper-nav-items li i {
    font-size: 1.3em;
    margin-bottom: 0.2em;
}

.upper-nav-items span {
    font-size: 0.9em;
}

/* Sub-navigation */
.sub-nav-items {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    background-color: var(--wit);
}

.sub-nav-items li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1em 1em 0.5em 1em;
}

.sub-nav-items li i {
    font-size: 1.3em;
}

.sub-nav-items span {
    font-size: 0.7em;
}

/* HEADER */
.information {
    color: var(--wit);
    background-color: var(--pinda-kleur);
    border-radius: 0 0 1.5em 1.5em;
}

.chat-title {
    font-size: 1.3em;
    padding: 0.5em 1em 0.5em 1em;
}

.online {
    font-size: 1em;
    padding: 0 1em 1em 1em;
}

/* MAIN SECION */
.chat {
    background-color: var(--wit);
    border-radius: 2em 2em 0 0;
    width: 100vw;
    max-height: fit-content;
}

.message {
    margin: 0;
    padding: 1.1em;
    list-style-type: none;
    flex-grow: 2;
    overflow-y: scroll;
    height: 48vh;
}

.message-background > p {
    max-width: 12em;
    word-wrap: break-word;
}

.message-field {
    position: absolute;
    bottom: 1em;
    left: 0;
    max-width: 100%;
    background-color: white;
}

/* Input field for the messages */
.textfield {
    background-color: var(--licht-grijs);
    border: none;
    width: 80vw;
    height: 3em;
    border-radius: 2em;
    margin-left: 0.7em;
    text-indent: 1em;
}

.textfield::placeholder {
    text-indent: 1em;
}

.textfield:focus {
    text-indent: 1em;
    outline: none;
    caret-color: var(--donkerblauw);
}

/* Username */
.title-username {
    padding: 1em;
}

.username {
    background-color: var(--licht-grijs);
    border: none;
    width: 53vw;
    height: 2em;
    border-radius: 2em;
    margin-left: 0.7em;
    text-indent: 1em;
    margin-bottom: 0.2em;
}

.username::placeholder {
    text-indent: 1em;
}

.username:focus {
    text-indent: 1em;
    outline: none;
    caret-color: var(--donkerblauw);
}

/* Send button */
.send {
    background-color: var(--pinda-kleur);
    border: none;
    border-radius: 50%;
    width: 3em;
    height: 3em;
}

.send i {
    margin-left: -0.2em;
}

/* The actual messages */
.message-background {
    padding: 0.5em;
    color: var(--donkerblauw);
    background-color: rgba(114, 175, 166, 0.6);
    border-radius: 1em;
    width: max-content;
    list-style: none;
    text-align: left;
}

.message-recieved {
    margin-bottom: 0.5em;
}

.message-post {
    margin-bottom: 0.5em;
}

.message-recieved .message-handle {
    display: grid;
    place-items: left;
    justify-self: start;
    margin-left: 0.5em;
}

.message-recieved .message-handle {
    display: flex;
}

.message-post .time {
    display: flex;
    justify-content: flex-end;
}

.message-post .message-handle {
    display: grid;
    place-items: end end;
    justify-self: end;
    margin-left: 0.5em;
}

.message-post {
    display: flex;
    justify-content: flex-start;
}
.message-post.message-send {
    justify-content: flex-end;
}

/* tijd data opmaak*/
.time {
    font-size: 0.8em;
    font-weight: 100;
    color: var(--donkerblauw);
}

/* Username position */
.message-handle {
    margin-top: 0.25em;
    font-size: 0.7em;
    text-align: left;
    color: var(--pinda-kleur);
    margin-bottom: 10px;
}

#handle {
    margin-bottom: 1em;
}

/* bericht in de gestuurde chat*/
.message-background > p {
    text-align: left;
    color: var(--donkerblauw);
    margin-bottom: 0.5em;
}

/* I don't know what this is */
.message-background > p {
    text-align: left;
}

/* When a user is typing */
.typing {
    font-size: 1em;
    text-align: center;
    line-height: 1.5;
    color: var(--donkerblauw);
    margin-top: 0.5em;
}

/* States */
span.loading,
span.empty,
span.offline {
    padding: 2rem;
    font-size: 0.7rem;
    font-weight: lighter;
}

span.loading {
    color: light-grey;
    animation: breathe 3s ease-out infinite normal;
}

span.empty {
    display: none;
    color: light-grey;
}

span.offline {
    display: none;
    color: red;
}

@keyframes breathe {
    0% {
        transform: scale(0.9);
    }
    25% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(0.9);
    }
}

.sub-nav-items > .desktop-terug {
    display: none;
}

/* Mediaquerie desktop Roelie */

@media screen and (min-width: 65em) {
    /* main nav */

    .main-nav {
        display: flex;

        justify-content: space-between;

        align-items: center;

        background-color: var(--pinda-kleur);
    }

    /* Sub-navigation */

    .sub-nav-items {
        display: flex;

        flex-direction: column;

        list-style: none;

        justify-content: center;

        align-items: center;

        width: 7rem;

        height: 100vh;

        background-color: #eaeaea;

        position: relative;

        top: -5rem;
    }

    .sub-nav-items li {
        display: flex;

        flex-direction: column;

        align-items: center;

        text-align: center;

        margin: 1em 1em 0.5em 1em;
    }

    .sub-nav-items li i {
        font-size: 1.3em;
    }

    .sub-nav-items span {
        font-size: 0.7em;
    }

    picture.logo-container {
        background-color: #eaeaea;

        width: 6.5rem;
    }

    .sub-nav-items > .desktop-terug {
        display: flex;

        position: relative;

        top: -5rem;
    }

    /* upper nav */

    .upper-nav-items {
        display: none;
    }

    /* form */

    .message-field {
        position: absolute;

        bottom: 1em;

        left: 10rem;

        max-width: 100%;

        background-color: white;
    }

    /* extra addings roelie */

    .desktop-chat-container {
        display: flex;

        flex-direction: column;
    }

    .desktop-chat-flex {
        display: flex;
    }

    .message-post.message-send {
        justify-content: flex-end;

        position: relative;

        right: 8rem;
    }
}
