/* Montserrat */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
body {
    font-family: var(--body-font);
    background-color: var(--wit);
}

:root {
    /* CUSTOM PROPERTIES */
    /* Colours for specific allergies */
    --walnoot-kleur: #cd9540;
    --amandel-kleur: #f1c17e;
    --cashewnoot-kleur: #e68460;
    --ei-kleur: #f4eb34;
    --vis-kleur: #daeeee;
    --hazelnoot-kleur: #baddce;
    --pinda-kleur: #72afa6;
    --schelp-kleur: #f1c8ba;
    --soja-kleur: #eae3d2;

    /* Primaire kleuren */
    --donkerblauw: #152a45;
    --wit: #ffffff;
    --zwart: #121212;
    --grijs: #888682;
    --mini-nav-grijs: #eeeeee7d;;
    --licht-grijs: #eaeaea;

    /* Font Family */
    --body-font: "Montserrat";
}

*{
  margin: 0;
  overflow-x: hidden;

}

/* Header zenit*/   
.zenit{
  width: 100%; 
  height: 3rem;
  background-color: var(--ei-kleur);
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.para{
  color: var(zwart);
  font-size: 16px;
  padding-top: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: lighter;
}

/* NAV + LOGO */
.logo {
    width: 85%;
    height: auto;
    padding-left: 25px;
}

nav{
    display: flex; 
    flex-flow:row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 8rem;
    box-shadow: -1px 0px 8px rgba(14, 55, 63, 0.15);

}

.nav-links{
    flex: 1;
    text-align: center;
}

.nav-links ul li{
   list-style: none;
    display: inline-block;
    padding: 2em;
    position: relative;
    letter-spacing: 0.1em;
    font-size: 16px;
    font-weight: lighter;
}

.nav-links ul li a{
    color: var(--zwart);
    text-decoration: none;
    font-weight: lighter;
    font-size: 16px;

}

.nav-links ul li a:hover{
    color: var(--pinda-kleur);
}
.navbar a {
    text-align: center;
    color: var(--zwart);
    text-decoration: none;
    font-size: 25px;
    padding:15px;
    padding-right: 56px;


}
.navbar a:hover {
    color: var(--pinda-kleur);
 }
/* sidebar icon */
 .sidebar {
    width: 200px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 16px;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: var(--pinda-kleur);
    display: block;

  }
  .sidebar i{
    font-size: 30px;
  }
  .sidebar a:hover {
    color: #f1f1f1;
  }
/* titel */
h1{
  text-align: center;
  margin-top: 2.5rem;
  color: var(--pinda-kleur);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bolder;
}
/* content post*/
  .container {
    box-shadow: -1px 2px 3px 3px rgba(14, 55, 63, 0.15);
    background-color: var(--mini-nav-grijs);
    border-radius: 5px;
    padding: 16px;
    margin: 27px 0
  }

  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container span {
    font-size: 20px;
    margin-right: 15px;
    color: var(--pinda-kleur);
    font-weight: bold;
  }
.container a {
  font-size: 35px;
  text-align: center;
  margin-right: 25px ;
  color: var(--pinda-kleur);
}
/* nieuwsbrief zenit */
form {
  border: 3px solid rgb(255, 255, 255);
  width: 100%;

}
h6{
color:var(--pinda-kleur);
text-align:center;
font-size:25px;
font-weight: bolder;
margin-bottom: 0.5em;
}
.nieuws{
color:var(--zwart);
text-align:center;
font-size:16px;
}
.containerz {
  padding: 20px;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
 
}
label{
 font-size:16px;
 }
input[type=submit] {
  background-color: var(--pinda-kleur);
  color: var(--wit);
  font-size: 16px;
 border-radius: 25px; 
}

input[type=submit]:hover {
  opacity: 0.8;
}


/* Roelie's index.ejs */

main.main-index{
  width:100%;
}

/* index img */
.index-img-container{
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: calc(100% / (375 / 250)); /* Berekening van de aspectverhouding */
  overflow: hidden;
}
.index-img{
  object-fit: cover;
  position: absolute;
}

/* h1 tekst */

h1.index-h1{
  margin: 1rem;
  text-align: left;
  color: var(--donkerblauw);
  text-transform:none;
}
.index-p{
  margin:1rem;
  color: var(--donkerblauw);
}

/* community button */

a.index-community-button{
  padding:12px;
  text-decoration: none;
  background-color: var(--hazelnoot-kleur);
  color: var(--donkerblauw);
  border-radius: 2rem;
  display:block;
  position: relative;
  margin: 1rem;
  text-align: center;
  border:none;
  /* font-size: 1rem; */
  /* cursor: pointer; */
  /* box-sizing: border-box; */

}














  /* Footer*/
.footer {
    background-color: var(--mini-nav-grijs);
    padding: 1em 1em;
  }
  
  .footer-title {
    color: var(--pinda-kleur);
    margin-bottom: 0.8em;
    margin-top: 2em;
  }
  
  .footer-link {
    text-decoration: none;
    color: var(--donkerblauw);
    font-weight: 300;
    line-height: 2.5;
  }
    /* Responsive post */
  @media (max-width: 500px) {
      .container {
        text-align: justify;
    }
.container span{
  text-align: center;
} 
   .container img {
        margin: auto;
        float: none;
        display: block;
    }
   
  }
    /* Responsive sidenav*/
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;

    }
  }
  .sidebar a {float: left;}
    div.content {margin-left: 0;}
  
  
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
      text-indent: 50px;
      text-align: justify;
    }

  }

  /* Responsive nav*/
 @media screen and (max-width: 767px) {
    .nav-menu {
        position: fixed;
        background-color: var(--wit);
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
        box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
        padding: 3rem;
        transition: .4s;
        z-index: 5;
    }
    .para{
        font-size: 12px;
    }
    .nav-links ul li{
        font-size: 10px;
    }
}



  /* Responsive footer*/
@media screen and (min-width: 1024px) {

    footer {
       width: 100vw;
       margin-top: 2em;
     }
   
     .footer-container {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       justify-items: center;
       margin-bottom: 2em;
     }
   
     .footer-title {
       font-size: 1.5em;
     }
   
     .footer-link {
       font-size: 1.1em;
       line-height: 2.5em;
     }
   
     .copyright {
       font-size: 1em;
       margin-left: 15em;
     }
   
   
   }
 