/* Montserrat */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
body {
    font-family: var(--body-font);
    background-color: var(--wit);
}

:root {
    /* CUSTOM PROPERTIES */
    /* Colours for specific allergies */
    --walnoot-kleur: #cd9540;
    --amandel-kleur: #f1c17e;
    --cashewnoot-kleur: #e68460;
    --ei-kleur: #f4eb34;
    --vis-kleur: #daeeee;
    --hazelnoot-kleur: #baddce;
    --pinda-kleur: #72afa6;
    --schelp-kleur: #f1c8ba;
    --soja-kleur: #eae3d2;

    /* Primaire kleuren */
    --donkerblauw: #152a45;
    --wit: #ffffff;
    --zwart: #121212;
    --grijs: #888682;
    --mini-nav-grijs: #eeeeee7d;;
    --licht-grijs: #eaeaea;

    /* Font Family */
    --body-font: "Montserrat";
}

*{
  margin: 0;
  overflow-x: hidden;

}

/* Header zenit*/   
.zenit{
  width: 100%; 
  height: 3rem;
  background-color: var(--ei-kleur);
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.para{
  color: var(zwart);
  font-size: 16px;
  padding-top: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: lighter;
}

/* NAV + LOGO */
.logo {
    width: 85%;
    height: auto;
    padding-left: 25px;
}

nav{
    display: flex; 
    flex-flow:row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 8rem;
    box-shadow: -1px 0px 8px rgba(14, 55, 63, 0.15);

}

.nav-links{
    flex: 1;
    text-align: center;
}

.nav-links ul li{
   list-style: none;
    display: inline-block;
    padding: 2em;
    position: relative;
    letter-spacing: 0.1em;
    font-size: 16px;
    font-weight: lighter;
}

.nav-links ul li a{
    color: var(--zwart);
    text-decoration: none;
    font-weight: lighter;
    font-size: 16px;

}

.nav-links ul li a:hover{
    color: var(--pinda-kleur);
}
.navbar a {
    text-align: center;
    color: var(--zwart);
    text-decoration: none;
    font-size: 22px;
    padding-right: 30px;
}
.navbar a:hover {
    color: var(--pinda-kleur);
 }
/* sidebar icon */
 .sidebar {
    width: 200px;
    padding-top: 30px;
    padding-left: 15px;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: var(--pinda-kleur);
    display: block;

  }
  .sidebar i{
    font-size: 30px;
  }
  .sidebar a:hover {
    color: var(--donkerblauw);
  }
/* titel */
h1{
  text-align: center; 
  margin-top: -11.5rem;
  margin-bottom: 2rem;
  color: var(--pinda-kleur);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bolder;
 
}


/* content post*/

.container {
  box-shadow: -1px 2px 3px 3px rgba(14, 55, 63, 0.15);
  background-color: var(--mini-nav-grijs);
  border-radius: 20px;
  padding: 16px;
  margin:auto;
  max-width: 60rem;
  margin-bottom: 40px;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

  .container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container span {
    font-size: 20px;
    margin-right: 15px;
    color: var(--pinda-kleur);
    font-weight: bold;
  }
.container a {
    font-size: 30px;
    text-align: center;
    margin-right: 25px ;
    color: var(--pinda-kleur);
}

.post input[type=text]{
    width: 90%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-right: 85px;
    font-size: 16px;
}

/* nieuwsbrief zenit */
form {
  border: 3px solid rgb(255, 255, 255);
  width: 100%;

}
h6{
color:var(--donkerblauw);
font-size:25px;
font-weight: bolder;
margin-bottom: 0.5em;
}
.nieuws{
color:var(--donkerblauw);
font-size:16px;
}
.container-nieuwsbrief {
  margin: 1rem;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
 
}
label{
 font-size:16px;
 }
input[type=submit] {
  background-color: var(--hazelnoot-kleur);
  color: var(--donkerblauw);
  font-size: 16px;
 border-radius: 25px; 
}

a.index-community-button:hover, input[type=submit]:hover {
  color:var(--soja-kleur);
  background-color: var(--donkerblauw);
}


/* Roelie's index.ejs */

main.main-index{
  width:100%;
}


/* index img */
.index-img-container{
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: calc(100% / (375 / 250)); /* Berekening van de aspectverhouding */
  overflow: hidden;
}
.index-img{
  object-fit: cover;
  position: absolute;
}

/* desktop image */
.index-extra-image-container, .index-desktop-img{
  display:none;
}

/* h1 tekst */
h1.index-h1{
  margin: 1rem;
  text-align: left;
  color: var(--donkerblauw);
  text-transform:none;
}
.index-p{
  margin:1rem;
  color: var(--donkerblauw);
}

/* community button */
a.index-community-button{
  padding:12px;
  text-decoration: none;
  background-color: var(--hazelnoot-kleur);
  color: var(--donkerblauw);
  border-radius: 2rem;
  display:block;
  position: relative;
  margin: 1rem;
  text-align: center;
  border:none;
}

/* Mediaqueries Roelie voor index.ejs */

@media screen and (min-width: 50em){
  .index-img-container{
    width:50%;
    padding-bottom: calc(50% / (375 / 250));
  }
  article.index-community{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .desktop-index-container{
    display:flex;
  }
 
  /* Nieuwsbrief gedeelte */
  form{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
 
  /* Desktop image */
  .index-desktop-img{
    object-fit: cover;
    position: absolute;
    display: inline-block;
  }

  /* desktop image */
  .index-extra-img-container{
    display:inline-block;
    width: 50%;
    height: 0;
    position: relative;
    padding-bottom: calc(50% / (960 / 640)); /* Berekening van de aspectverhouding */
    overflow: hidden;

  }
}
@media screen and (min-width: 75em){
  
  /* index tekst */
  .index-h1{
    font-size: 2.2rem;
  }
  .index-p{
    font-size: 2rem;
  }
}

@media screen and (min-width: 95em){
  /* form */
  .index-input{
    position: relative;
    top:-5rem;
  }
}

  /* Footer*/
.footer-container {
    background-color: var(--mini-nav-grijs);
    padding: 1em 1em;
  }
  
  .footer-title {
    color: var(--pinda-kleur);
    margin-bottom: 0.8em;
    margin-top: 2em;
  }
  
  .footer-link {
    text-decoration: none;
    color: var(--donkerblauw);
    font-weight: 300;
    line-height: 2.5;
  }
    /* Responsive post */
  @media (max-width: 500px) {
h1{
  margin: 0;
}
    .container {
      text-align: justify;
      margin-inline: -1px;
    }
.container span{
  text-align: center;
} 
   .container img {
        margin: auto;
        float: none;
        display: block;
    }
   
  }
    /* Responsive sidenav*/
  @media screen and (max-width: 770px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    h1{
      margin: 0;
    }
  }
  .sidebar a {float: left;}
    div.content {margin-left: 0;}

  
  @media screen and (max-width: 400px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;

    }
    .sidebar a {
      text-align: center;
      float: none;
      text-indent: 50px;
      text-align: justify;
    }
    h1{
      margin: 0;
    }

  }
  @media screen and (max-width: 320px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    h1{
      margin: 0;
    }
 
  }

  /* Responsive nav*/
 @media screen and (max-width: 767px) {
    .nav-menu {
        position: fixed;
        background-color: var(--wit);
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
        box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
        padding: 3rem;
        transition: .4s;
        z-index: 5;
    }
    .para{
        font-size: 12px;
    }
    .nav-links ul li{
        font-size: 10px;
    }
 
}



  /* Responsive footer*/
@media screen and (min-width: 1024px) {

    footer {
       width: 100vw;
       margin-top: 2em;
     }
   
     .footer-container {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       justify-items: center;
       margin-bottom: 2em;
     }
   
     .footer-title {
       font-size: 1.5em;
     }
   
     .footer-link {
       font-size: 1.1em;
       line-height: 2.5em;
     }
       }
 